*{
  margin: 0px;
  padding: 0px;

}
body{
  color: rgb(163, 162, 162);
  background-color: rgb(29, 29, 29);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.nav-bar{
  margin: 0rem 1rem;
  height: 4rem;
  background-color: rgb(27, 26, 26);
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-icon i{
  border: 0px solid black;
  border-radius: 5px;
  padding:0.5rem;
  font-size: 1.2rem;
}
nav ul li{
  color: rgb(173, 173, 173);
}
/* ====================================*/
.bar-container{
  border: 1px solid rgb(141, 140, 140);
  background-color: rgb(61, 61, 61);
}
.bar-wrapper{
  margin: 0rem 1rem;
}
.bar{
  color: rgb(177, 176, 176);
  height: 2rem;
  display: grid;
  grid-template-columns: 20px 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  
}
.bar-list-icon{
  grid-column-start: 1;
  border-right: 1px solid rgb(141, 140, 140);
  margin-left: -15px;
  padding: 0.4rem;
}
.guides{
  margin-left: 5px;
  grid-column-start: 2;
  grid-column-end: 2;
}
.menu{
  border-radius: 5px;
  padding: 5px;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  grid-column-start: 4;
  grid-column-end: 4;
}

#content{
  margin: 4rem 3rem;
  color:white;
}
.main-content{

}
.main-content h1{
  font-size: 1.8rem;
  margin-bottom: 2rem;
  word-break: break-word;
  outline: 1px solid #162544
}
.main-page-content{
  display: flex;
  flex-direction: column;
}

.section-content-wrapper{

}

.section-content{
  line-height: 1.7rem;
  font-size: 1rem;

}
.section-content-div{
  background-color: rgb(77, 77, 77);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 20px;
  height:;
}
.section-content-div p:first-of-type{
  font-size: 1.3rem;

}
.section-content-div p {
  margin: 10px 20px;
}
